# Dirs
__pycache__/

data
data-shared
logs
settings/runs/

*.egg-info/

.**/
.history
.ipynb_checkpoints
.pytest_cache
.vscode
build/

# compiled files
*.out
*.pyc
*.pdf
*.html
*.so

# Cython files
mlpng/bispectrum/bispectrum.c
